
/*#registration-container.clinical-paper .registration-form .registration-steps .steps h4 {
    margin-bottom: 5px;
}*/

#registration-container.clinical-paper .registration-form .registration-steps .clinical-wrapper {
    padding: 0px;
}

#registration-container.clinical-paper .registration-form .registration-steps .clinical-wrapper > .container-fluid {
    padding: 0 7px 0 0;
}

#registration-container.clinical-paper-step2 .registration-form .registration-steps .steps.step1.active {
    position: relative;
    background: #64C8DC;
}

#registration-container.clinical-paper-step2 .registration-form .registration-steps .steps.step1.active:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent;
    border-left: 22px solid #64C8DC;
    border-right: 0;
    position: absolute;
    top: -2px;
    right: -22px;
    z-index: 2;
}

#registration-container.clinical-paper .check-email {
    padding-left: 0px;
}

#registration-container.clinical-paper .checkbox-inline input[type="radio"]{
    margin-right: 5px;
}

.continue-btn button {
    /*border-radius: 3px;*/
}

@media screen and (max-width: 992px) {

    .page-clinical-papers .registration-header h1{
        font-size: 33px;
        /*text-align: center;*/
        margin: 30px 0 20px;
    }
    .page-clinical-papers .registration-header p{
        /*text-align: center;*/
        /*margin: 20px;*/
    }
    .page-clinical-papers .continue-btn button{
        display: block;
        margin: 30px auto;
    }
}