/*
 * MIXINS 
 */


/*** DASHBOARD ***/

#dashboard h3 {
    margin-bottom: 17px;
}

#dashboard h3:after {
    content: '';
    display: block;
    clear: both;
}

#dashboard h3 span {
    margin-right: 10px;
    position: relative;
    top: -4px;
}

#dashboard .dashboard-header {
    padding: 50px 0px 60px 0;
}

#dashboard .dashboard-header .dashboard-profile {
    float: right;
    height: 82px;
    width: 82px;
    border-radius: 50%;
    margin-top: -20px;
}

#dashboard .row-header {
    font-size: 18px;
    font-weight: 700;
    color: #505050;
    background: #e6e3e3;
}

#dashboard .row-header .column {
    padding: 16px 30px;
}

#dashboard .row-bg {
    background: #f9f9f9;
}

#dashboard .row-bg .column {
    padding: 11px 30px;
}

#dashboard .dashboard-btn {
    padding-top: 9px;
    padding-bottom: 8px;
    width: 160px;
}

#dashboard .logins .column:nth-child(2) {
    text-align: center;
}

#dashboard .date-picker {
    width: 239px;
}

#dashboard .date-picker .input-group {
    display: block;
}

#dashboard .date-picker .dates {
    width: 100%;
    background: url("../images/date_range.jpg") no-repeat 98% center;
    margin-bottom: 30px;
}

#dashboard .page-summary .page-summary-chart {
    margin-bottom: 15px;
    width: 635px;
    height: 319px;
    background: #e6e3e3;
    padding: 15px 30px;
    margin-bottom: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#dashboard .page-summary .page-summary-chart .canvas-container {
    width: 575px;
    height: 289px;
}

#dashboard .page-summary .page-summary-chart img {
    width: 100%;
    height: auto;
}

#dashboard .page-summary .row-header {
    background: #f0ab00;
}

#dashboard .page-summary .row-bg {
    font-weight: 700;
    color: #505050;
}

#dashboard .page-summary .row-bg:nth-child(even) {
    background: #fceecc;
}

#dashboard .page-summary .row-bg:nth-child(odd) {
    background: #fff;
}

#dashboard .page-summary .row-bg a {
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

#dashboard .page-summary .row-bg .column {
    padding: 16px 30px;
}

#dashboard .page-summary .row-bg .column:after {
    content: '';
    display: block;
    clear: both;
}

#dashboard .useful-link {
    background: #f9f9f9;
    padding: 10px 15px 62px 15px;
}

#dashboard .useful-link .column {
    padding: 8px 15px;
}

#dashboard .useful-link .column p {
    margin: 0px;
}

#dashboard .useful-link .column p a {
    color: #343434;
    text-decoration: underline;
}

#dashboard .marketing {
    background: #f9f9f9;
    padding: 30px;
    margin-bottom: 30px;
}

#dashboard-container .dashboard-top:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

#dashboard-container .dashboard-top.download-top h1 {
    margin-top: 20px;
    padding-top: 20px;
}

#dashboard-container .dashboard-top.most-view-med h1 {
    float: left;
}

#dashboard-container .dashboard-top.most-view-med .date-picker {
    float: right;
    width: 239px;
    margin-top: 30px;
}

#dashboard-container .dashboard-top.most-view-med .date-picker .input-group {
    display: block;
}

#dashboard-container .dashboard-top.most-view-med .date-picker .dates {
    width: 100%;
    background: url("../images/date_range.jpg") no-repeat 98% center;
}

#dashboard-container .dashboard-top .back-btn {
    display: block;
    margin-top: 25px;
    color: #830051;
    float: none;
    clear: both;
}

#dashboard-container .dashboard-top h1 {
    margin-top: 20px;
}

#dashboard-container .dashboard-top span.icon-download {
    position: relative;
    top: -4px;
    margin-right: 8px;

    display: inline-block;
    font-size: 46px;
    margin-top: 0;
}

#dashboard-container .dashboard-top .filter label {
    line-height: 37px;
    font-weight: 400;
    margin-bottom: 0;
}

#dashboard-container .dashboard-top .filter .download-search {
    position: relative;
}

#dashboard-container .dashboard-top .filter .download-search .form-group {
    margin-bottom: 0;
}

#dashboard-container .dashboard-top .filter .download-search input[type="text"] {
    line-height: 37px;
    height: 37px;
}

#dashboard-container .dashboard-top .filter .download-search .d-search-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    padding: 8px 10px;
}

#dashboard-container .dashboard-top .client-summary {
    clear: both;
    float: none;
    display: block;
}

#dashboard-container .dashboard-top .client-summary a {
    font-size: 14px;
    padding-left: 25px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    padding-right: 15px;
}

#dashboard-container .dashboard-top .client-summary a.mail {
    background: url("../images/icon_v_mail.png") no-repeat left;
}

#dashboard-container .dashboard-top .client-summary a.phone {
    background: url("../images/icon_v_phone.png") no-repeat left;
}

#dashboard-container .dashboard-table {
    padding: 10px 0;
    /*margin: 38px 0;*/
    margin: 38px 0 80px;
    border-top: 1px solid #e6e3e3;
    border-bottom: 1px solid #e6e3e3;
}

#dashboard-container .dashboard-table.client-table {
    padding: 25px 0;
    margin: 0;
    border-bottom: none;
}

#dashboard-container .dashboard-table h3 {
    margin-bottom: 10px;
}

#dashboard-container .dashboard-table h3 span {
    position: relative;
    top: -4px;
    margin-right: 8px;
}

#dashboard-container .dashboard-table .pagination {
    width: 100%;
    margin: 0;
}

#dashboard-container .dashboard-table .pagination.bottom {
    margin-top: 10px;
}

#dashboard-container .dashboard-table .pagination ul li {
    list-style: none;
    display: inline-block;
}

#dashboard-container .dashboard-table .pagination ul li a {
    color: #830051;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

#dashboard-container .dashboard-table .pagination ul li a:hover {
    text-decoration: underline;
}

#dashboard-container .dashboard-table .dashboard-table-list {
    display: table;
    width: 100%;
}

#dashboard-container .dashboard-table .dashboard-table-list.client-sum-table-list .td-text p {
    padding: 8px 0px;
}

#dashboard-container .dashboard-table .dashboard-table-list:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

#dashboard-container .dashboard-table .dashboard-table-list .th-title {
    width: 100%;
    background: #e6e3e3;
    color: #505050;
    display: table-row;
}

#dashboard-container .dashboard-table .dashboard-table-list .th-title .aest-val {
    padding: 0;
}

#dashboard-container .dashboard-table .dashboard-table-list .th-title:before {
    content: '';
    display: block;
    float: none;
    clear: both;
}

#dashboard-container .dashboard-table .dashboard-table-list .th-title .td-col {
    display: table-cell;
    height: 50px;
}

#dashboard-container .dashboard-table .dashboard-table-list .th-title p {
    display: block;
    line-height: 50px;
    color: #505050;
    font-weight: 700;
}

#dashboard-container .dashboard-table .dashboard-table-list .th-title:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

#dashboard-container .dashboard-table .dashboard-table-list .td-text {
    display: table-row;
    width: 100%;
    background: #f9f9f9;
}

#dashboard-container .dashboard-table .dashboard-table-list .td-text:before {
    content: '';
    display: block;
    float: none;
    clear: both;
}

#dashboard-container .dashboard-table .dashboard-table-list .td-text .aest-val {
    padding: 0;
}

#dashboard-container .dashboard-table .dashboard-table-list .td-text .td-col {
    display: table-cell;
}

#dashboard-container .dashboard-table .dashboard-table-list .td-text p {
    display: block;
    padding: 20px 0;
    vertical-align: top;
    font-weight: 400;
}

.truncate, #dashboard-container .grid-mail p {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;    
}

#dashboard-container .dashboard-table .dashboard-table-list .td-text p span.text-underline {
    text-decoration: underline;
    margin-right: 15px;
}

#dashboard-container .dashboard-table .dashboard-table-list .td-text p.name {
    font-weight: 700;
}

#dashboard-container .dashboard-table .dashboard-table-list .td-text:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

#dashboard-export-form .btn {
    width: 160px;
}

#dashboard-export-form > .select {
    float: right;
    margin-left: 10px;
    width: 240px;
    max-width: 100%
}

@media (max-width: 991px) {
    #dashboard-container .dashboard-top.most-view-med h1 {
        float: none;
        clear: both;
    }
    #dashboard-container .dashboard-top.most-view-med .date-picker {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    #dashboard h3 {
        font-size: 20px;
    }
    #dashboard .dashboard-header {
        padding-bottom: 50px;
    }
    #dashboard .dashboard-header h1 {
        font-size: 36px;
        text-align: center;
    }
    #dashboard .dashboard-header .dashboard-profile {
        margin: 10px auto 0;
        text-align: center;
        float: none;
        clear: both;
    }
    #dashboard .row-bg {
        margin-bottom: 10px;
    }
    #dashboard .row-bg .column {
        padding: 5px 30px;
    }
    #dashboard .samples,
    #dashboard .page-summary {
        margin-top: 20px;
    }
    #dashboard .logins .column:nth-child(2) {
        text-align: left;
    }
    #dashboard .page-summary .row-bg .column {
        padding: 5px 30px;
    }
    #dashboard .page-summary .row-bg .column a {
        display: block;
        margin: 0px;
    }
    #dashboard .useful-link {
        padding-bottom: 10px;
    }
    #dashboard .marketing {
        padding: 15px;
    }
    #dashboard-container .dashboard-top.download-top {
        margin-top: 10px;
    }
    #dashboard-container .dashboard-top.most-view-med h1 {
        float: none;
    }
    #dashboard-container .dashboard-top.most-view-med .date-picker {
        float: none;
        clear: both;
        width: 100%;
    }
    #dashboard-container .dashboard-top.most-view-med .date-picker .dates {
        margin-bottom: 15px;
    }
    #dashboard-container .dashboard-top h1 {
        font-size: 26px;
        margin-top: 0px !important;
        padding-top: 10px !important;
        margin-bottom: 0px;
    }
    #dashboard-container .dashboard-top h1 .icon-download img {
        width: 26px;
        height: 29px;
    }
    #dashboard-container .dashboard-top .filter .custom-select-wrapper {
        margin-bottom: 15px;
    }
    #dashboard-container .dashboard-table {
        display: block;
    }
    #dashboard-container .dashboard-table h3 {
        font-size: 20px;
    }
    #dashboard-container .dashboard-table .dashboard-table-list {
        display: block;
    }
    #dashboard-container .dashboard-table .dashboard-table-list.client-sum-table-list .td-text p {
        padding: 0;
        text-align: left;
    }
    #dashboard-container .dashboard-table .dashboard-table-list .th-title {
        display: none;
    }
    #dashboard-container .dashboard-table .dashboard-table-list .td-text {
        padding: 10px 0px;
        display: block;
        margin-bottom: 15px;
    }
    #dashboard-container .dashboard-table .dashboard-table-list .td-text .td-col {
        display: block;
    }
    #dashboard-container .dashboard-table .dashboard-table-list .td-text .aest-val {
        padding: 0px 15px;
    }
    #dashboard-container .dashboard-table .dashboard-table-list .td-text p {
        padding: 0px;
    }
    #dashboard-container .dashboard-table .dashboard-table-list .td-text p.name {
        padding: 0px 0px 10px;
    }

    .dashboard-export {
        float: none !important;
        margin: 20px 0 40px;
    }

    #dashboard-export-form > .select {
        float: none;
        margin: 0 0 10px;
    }

}


/*!
 * Stylesheet for the Date Range Picker, for use with Bootstrap 2.x
 *
 * Copyright 2013-2015 Dan Grossman ( http://www.dangrossman.info )
 * Licensed under the MIT license. See http://www.opensource.org/licenses/mit-license.php
 *
 * Built for http://www.improvely.com
 */

.daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3000;
}

.daterangepicker.opensleft .ranges,
.daterangepicker.opensleft .calendar {
    float: right;
    margin: 4px;
}

.daterangepicker.opensright .ranges,
.daterangepicker.opensright .calendar,
.daterangepicker.openscenter .ranges,
.daterangepicker.openscenter .calendar {
    margin: 4px;
    float: left;
}

.daterangepicker .ranges {
    width: 160px;
    text-align: left;
}

.daterangepicker .ranges .range_inputs>div {
    float: left;
    display: none;
}

.daterangepicker .ranges .range_inputs .applyBtn {
    background: #830051;
    border: none;
    margin: 5px 0px;
}

.daterangepicker .ranges .range_inputs .applyBtn:hover {
    background: #d52a6e;
}

.daterangepicker .ranges .range_inputs .cancelBtn {
    background: #830051;
    border: none;
    color: #fff;
}

.daterangepicker .ranges .range_inputs>div:nth-child(2) {}

.daterangepicker .calendar {
    display: none;
    max-width: 250px;
    width: 250px;
}

.daterangepicker.show-calendar .calendar {
    display: block;
}

.daterangepicker .calendar.single .calendar-date {
    border: none;
}

.daterangepicker .calendar th,
.daterangepicker .calendar td {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    white-space: nowrap;
    text-align: center;
    border: none;
}

.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
    display: block;
    color: #333;
    font-size: 11px;
    margin-bottom: 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #fff;
}

.daterangepicker .ranges input {
    font-size: 11px;
}

.daterangepicker .ranges ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.daterangepicker .ranges li {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background: #08c;
    border: 1px solid #08c;
    color: #fff;
}

.daterangepicker .calendar-date {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
    background: #fff;
}

.daterangepicker .calendar-time {
    text-align: center;
    margin: 8px auto 0 auto;
    line-height: 30px;
}

.daterangepicker {
    position: absolute;
    background: #fff;
    left: 20px;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.daterangepicker.opensleft:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.daterangepicker.opensleft:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}

.daterangepicker.openscenter:before {
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.daterangepicker.openscenter:after {
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}

.daterangepicker.opensright:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.daterangepicker.opensright:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}

.daterangepicker table {
    width: 100%;
    margin: 0;
}

.daterangepicker td,
.daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
}

.daterangepicker td.off {
    color: #999;
}

.daterangepicker td.disabled,
.daterangepicker option.disabled {
    color: #999;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    background: #eee;
}

.daterangepicker td.in-range {
    background: #ebf4f8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #830051;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.daterangepicker td.week,
.daterangepicker th.week {
    font-size: 80%;
    color: #ccc;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default;
}

.daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%;
}

.daterangepicker select.yearselect {
    width: 40%;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
    width: 60px;
    margin-bottom: 0;
}

.daterangepicker_start_input {
    float: left;
}

.daterangepicker_end_input {
    float: left;
}

.daterangepicker th.month {
    width: auto;
}

/* dashboard fix css */

#dashboard .page-summary .row-bg .column.column-first {
    padding-right: 0px;
}

#dashboard .page-summary .row-bg .column.column-last {
    padding-left: 0px;
}

#dashboard .page-summary .page-summary-chart,#dashboard .page-summary .page-summary-chart .canvas-container,#dashboard .page-summary .page-summary-chart .canvas-container #canvas {
	width: 100%;
	height: auto;
}

.row-bg.min-height{
  min-height: 207px;
}
.min-height-webinars{
  min-height: 378px;
}
.min-height-events{
  min-height: 252px;
}
.min-height-links{
  min-height: 378px;
}

@media (max-width: 767px) {

	#dashboard .page-summary .row-bg .column.column-last {
	    padding-left: 30px;
	}

	#dashboard .page-summary .row-bg .column.column-first {
	    padding-right: 30px;
	}

}

