.medicine h1 span br {
    display: block;
}

.medicine .top-content {
    width: 100%;
    height: 400px;
    display: block;
    position: relative;
}

.medicine .content-header {
    width: 100%;
    height: auto;
    text-align: center;
}

.medicine .container-max h2 {
    margin: 74px 49px;
    text-align: center;
}

.medicine .content-image {
    /*position: relative;*/
    position: absolute;
    width: 151px;
    /*height: 128px;*/
    height: 100%;
    /*float: left;*/
    overflow: hidden;
    -webkit-transition: background 100ms cubic-bezier(1, 0, 0, 1);
    -o-transition: background 100ms cubic-bezier(1, 0, 0, 1);
    transition: background 100ms cubic-bezier(1, 0, 0, 1);
}

.medicine li:hover .content-image {
    background: #f2a727;
}

.medicine .content-image img {
    position: absolute;
    /*top: 0px;*/
    /*top: 50%;*/
    bottom: 0;
    left: 0px;
    width: 100%;
    /*height: 128px;*/
    height: auto;
    /*-webkit-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*-o-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    -webkit-transition: all 100ms cubic-bezier(1, 0, 0, 1);
    transition: all 100ms cubic-bezier(1, 0, 0, 1);
}


}
.medicine-unhover {
    opacity: 1;
}
.medicine-hover {
    opacity: 0;
}
.medicine-list ul li .medicine-plus:hover {
    cursor: pointer;
}
.medicine-list ul li:after {
    content: '';
    display: block;
    clear: both;
}
.medicine-list > ul > li {
    position: relative;
    margin-bottom: 10px;
    background: #f8f8f8;
}
.medicine-list ul li:hover .medicine-unhover {
    opacity: 0;
    cursor: pointer;
}
.medicine-list ul li:hover .medicine-hover {
    opacity: 1;
    background: #f2a727;
}
.medicine-list ul li.active {
    background: #f2a727;
}
.medicine-list ul li.active .content-text p,
.medicine-list ul li.active .content-text h2,
.medicine-list ul li.active .medicine-hover {
    color: #ffffff;
    opacity: 1;
}
.medicine-list ul li.active .medicine-unhover {
    opacity: 0;
}
.medicine-list ul li.active .med-list-wrap .medicine-plus {
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.medicine .medicine-list ul li.active .medicine-plus:before,
.medicine .medicine-list ul li.active .medicine-plus:after {
    background-color: #f2a727;
}

.med-list-wrap {
    position: relative;
    cursor: pointer;
    min-height: 128px;
}

.medicine .content-text {
    padding: 25px 27% 25px 175px;
}

.medicine .content-text h2 {
    text-align: left;
    margin: 0 0 15px;
    font-size: 26px;
}

.medicine .content-text p {
    margin-top: 15px;
}

.medicine .medicine-plus {
    position: absolute;
    right: 40px;
    top: 50%;
    display: block;
    width: 58px;
    height: 58px;
    margin-top: -29px;
    border-radius: 50%;
    background: #c6c2b9;
    -webkit-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}
.medicine .medicine-plus:after {
    content: '';
    display: block;
    position: absolute;
    top: 18px;
    left: 26px;
    width: 5px;
    height: 21px;
    background: #fff;
}
.medicine .medicine-plus:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 26px;
    left: 18px;
    width: 21px;
    height: 5px;
    background: #fff;
}
.medicine .inner-content {
    /*padding: 0 180px;*/
    /*background: #e6e7e7;*/
    
    background: white;
    position: relative;
    display: none;
}
.medicine .inner-content .inner-content-text {
    padding: 25px;
}
.medicine .inner-content ul .row > div {
    position: relative;
}
.medicine .inner-content ul .row > div:first-child {
    width: 145px;
}
.medicine .inner-content h3 {
    position: relative;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}
.medicine .inner-content h3:before {
    content: '';
    position: absolute;
    top: 11px;
    left: -20px;
    width: 12px;
    height: 8px;
    background: url("../images/arrow_icon.png") no-repeat left;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}
.medicine .report-event {
    width: 546px;
    height: 244px;
    display: block;
    margin: 0 auto;
    background-color: #9db0ac;
    margin: 75px auto 130px;
    padding: 39px 52px;
    text-align: center;
}
.medicine .report-event h2 {
    margin: 0;
    color: #fff;
    font-size: 26px;
}

.medicine .report-event p {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    margin: 12px 0 20px;
    text-shadow: 2px 2px rgba(0,0,0,0.1);
}

.medicine .report-event a {
    width: 324px;
    background-color: #4e5856;
}

.medicine .report-event p a {
    background: transparent;
    -webkit-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}

.medicine-list .medicines-content {
    padding: 25px 0px;
    text-align: left;
    padding-left: 30px;
    margin-left: -30px;
    margin-right: -15px;
    border-bottom: 1px solid #e3e3e3;

    display: block;
    margin: auto;
}

.medicine-list .medicines-content hr {
    display: none;
}

.medicine-list .medicines-content p {
    display: none;
}

.medicine-list .medicines-content a:hover,
.medicine-list .medicines-content a:focus{
    color: inherit;
    text-decoration: none;
}
.medicine-list .back-to-top {
    font-size: 16px;
    color: #505050;
    text-align: center;
    margin: 10px 0 0px 0;
}
.medicine-list .back-to-top img {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 3px;
}
.medicine .inner-content > ul > li {
    padding-bottom: 10px;
}

.medicine-single > .region {
    padding-bottom: 120px;
}

.medicine-single h2 {
    /*font-family: "lato", sans-serif;*/
    /*font-weight: bold;*/
    /*font-size: 36px;*/
    /*line-height: 41px;*/
    margin-bottom: 30px;
}

/*.medicine-single .btn.btn-secondary {
    background-color: #f0ab00;
    border-color: #f0ab00;
}

.medicine-single .btn.btn-secondary:hover {
    background-color: #ffb90a;
    border-color: #ffb90a;
}*/

.medicine-single li {
    /*font-size: 16px;*/
    /*color: #000;*/
    /*text-align: center;*/
    /*margin-top: 20px;*/
}

.medicine-single .btn.btn-download {
    /*background-color: #830051;*/
    /*border-color: #830051;*/
}

.medicine-single .btn.btn-download:hover {
    /*background-color: #d52a6e;*/
    /*border-color: #d52a6e;*/
}

.medicine-single h4 {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 40px;
}

.patient-resource p {
    margin: 22px 0;
}

/*Medicine FAQs*/
/*#medicines .row .resources-page-fade{
    opacity: 0;
    position: relative;
    top: 10px;

    -webkit-transition: opacity .300s ease;
    -moz-transition: opacity .300s ease;
    transition: opacity .300s ease;
}
#medicines .row .resources-page-fade-content{

    -webkit-transition: opacity .300s ease;
    -moz-transition: opacity .300s ease;
    transition: opacity .300s ease;

    opacity: 1;
    top: 0;
}*/

#patient-resources .patient-resource .photo, #order-sample .patient-resource .photo {
    height: 73px;
}

/* pbs - product info */

.pbs-buttons {
    /*width: 350px;*/
    width: 400px;
    max-width: 100%;
    margin-bottom: 13px;
}

.pbs-headline {
    /*margin-bottom: 20px;*/
    margin-bottom: 16px;
}

.pbs-text {
    /*padding: 20px;*/
    color: black;
    padding: 24px 30px;
    border: 1px solid #9ba0a2;
    margin-bottom: 20px;
    margin-right: 35px;
}

.pbs-text:last-of-type {
    margin-bottom: 0;
}

.pbs-text p {
    margin: 0;
}

.pbs-buttons .btn {
    font-size: 16px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0 0 10px;
}

.pbs-buttons .btn.btn-download-info  {
    margin-bottom: 40px;
}

/* medicine single sections */

#main-wrapper.medicine-single #cardio-hero ~ .section, #main-wrapper.medicine-single #cardio-hero ~ #product-banner.section.bg-gray {
    background: white;
}

#main-wrapper.medicine-single #cardio-hero ~ .section.bg-gray {
    background: #f5f6f6;
}



@media only screen and (max-width: 1024px) and (min-width: 768px) {

    .medicine li:hover .content-image {
        background: transparent;
    }

    .medicine-list ul li:hover .medicine-unhover, .medicine-list ul li.active .medicine-hover {
        opacity: 1
    }

    .medicine-list ul li.active .medicine-hover {
        opacity: 1 !important;
    }

    .medicine-list ul li:hover .medicine-hover, .medicine-list ul li.active .medicine-unhover {
        opacity: 0;
        background: transparent;
    }

    .medicine-list ul li.active .medicine-unhover {
        opacity: 0 !important;
        background: transparent !important;
    }

    #cardio-hero-banner .cardio-slider {
        -webkit-transform: translate(0, 0) !important;
        -ms-transform: translate(0, 0) !important;
        -o-transform: translate(0, 0) !important;
        transform: translate(0, 0) !important;
    }

    .medicine-single #cardio-hero-banner .cardio-slider {
        -webkit-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        -o-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
    }



}

@media only screen and (max-width: 991px) {

    .pbs-text {
        margin-right: 0;
        width: 400px;
        max-width: 100%;
    }

    #order-sample .product-select-wrap {
        margin-bottom: 15px;
    }

}

@media only screen and (max-width: 767px) {
    .medicine .container-max h2 {
        margin-top: 50px;
        margin-bottom: 60px;
    }
    
    .med-list-wrap {
        display: block;
        padding-bottom: 35px;
    }
    
    .medicine .content-image {
        position: relative;
        display: block;
        height: auto;
        width: 100%;
        background: #f2a727;
    }
    
    .medicine .content-image > img {
        display: none;
        position: relative;
        width: auto;
        height: auto;
        margin: auto;
    }
    
    .medicine .content-image > img.medicine-hover {
        display: block;
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    .medicine .content-text {
        padding: 25px 15px;
        border-bottom: 1px solid #e3e3e3;
    }
    
    .medicine .content-text h2 {
        text-align: center;
        margin: 0 0 5px;
    }
    
    .medicine .content-text p {
        text-align: center;
        margin: 0;
    }
    
    .medicine .medicine-plus {
        position: relative;
        display: block;
        margin: auto;
        top: 0;
        left: 0;
        margin-top: 35px;
    }

    .medicine .report-event {
        max-width: 90%;
        height: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    .medicine .report-event h2 {
        margin: 0;
    }

    .medicine .report-event a {
        max-width: 100%;
    }

    #cardio-hero .cardio-hero-container .tools {
        display: none;
    }

    #product-info .product-info-list {
        border-right: 0;
        padding-bottom: 20px;
    }

    .medicine-single > .region {
        padding-bottom: 20px;
    }

    .medicine-list .medicines-content {
        padding-right: 30px;
    }

    #main-wrapper.medicine-single #cardio-hero ~ .section.bg-gray {
        background: white;
    }

    .medicine-single .medical-detail-wrap .left-content .md-search {
        border: 1px solid #bbb;
    }

    .medical-detail-wrap .left-content .md-search .form-group input {
        box-shadow: none;
    }

}

@media only screen and (max-width: 600px) {

    .medicine h1 span br {
        display: none;
    }

}

/* medicine single */


.medicine-single .container-max {
    width: auto;
    max-width: 1144px;
    padding-left: 15px;
    padding-right: 15px;
}

.null-padding {
    padding-left: 0;
    padding-right: 0;
}
.null-padding-left {
    padding-left: 0;
}
.null-padding-right {
    padding-right: 0;
}
#cardio-hero-banner {
    min-height: 438px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#cardio-hero-banner .cardio-slider {
    position: absolute;
    top: 0px;
    /*left: 0px;*/
    left: 50%;
    width: auto !important;
    height: auto !important;
    min-width: 100%;
    min-height: 100%;
    margin: 0 !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#cardio-hero-banner .cardio-slider-x {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#cardio-hero-banner .cardio-slider-mobile {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#cardio-hero {
    min-height: 438px;
    position: relative;
    z-index: 2;
}
#cardio-hero .cardio-hero-container {
    height: 100%;
}
#cardio-hero .cardio-hero-container .left-content-wrap {
    position: relative;
    background-color: #fff;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 10;
}
#cardio-hero .cardio-hero-container .left-content-wrap:before {
    content: '';
    width: 9999px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 100%;
    background-color: #fff;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
}
#cardio-hero .cardio-hero-container .left-content {
    min-height: 438px;
    display: table-cell;
    vertical-align: middle;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-right: 35px;
}

#cardio-hero .cardio-hero-container .left-content a {
    text-decoration: underline;
}

#cardio-hero .cardio-hero-container .left-content .ui-autocomplete a {
    text-decoration: none;
}

#cardio-hero .cardio-hero-container .left-content h1 {
    /*font-family: 'Lato', sans-serif;*/
    /*font-size: 46px;*/
    /*line-height: 47px;*/
    /*text-shadow: none;*/
    /*margin-top: 0;*/
    margin-bottom: 13px;
    /*font-weight: bold;*/
    /*color: #343434;*/
}
#cardio-hero .cardio-hero-container .left-content p {
    color: #000;
    line-height: 31px;
    margin: 6px 0;
}
#cardio-hero .cardio-hero-container .left-content .btn {
    margin-top: 25px;
}
#cardio-hero .cardio-hero-container .left-content .btn.btn-rm {
    font-size: 20px;
    padding: 16px 30px;
    font-weight: 500;
    width: auto;
    display: inline-block;
}
#cardio-hero .cardio-hero-container .left-content form .btn {
    margin-top: 0;
}
#cardio-hero .cardio-hero-container .tools {
    float: right;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    z-index: 2;
}
#cardio-hero .cardio-hero-container .tools.white {
    color: #fff;
}
#cardio-hero .cardio-hero-container .tools.white ul li a {
    color: #fff;
}
#cardio-hero .cardio-hero-container .tools.white ul li a.mail {
    background: url("../images/icon_w_mail.png") no-repeat left;
    background-size: 14px 12px;
}
#cardio-hero .cardio-hero-container .tools.white ul li a.print {
    background: url("../images/icon_w_print.png") no-repeat left;
}
#cardio-hero .cardio-hero-container .tools ul {
    margin-top: 25px;
    padding-left: 0;
}
#cardio-hero .cardio-hero-container .tools ul li {
    display: inline-block;
    padding-left: 10px;
}
#cardio-hero .cardio-hero-container .tools ul li a {
    padding-left: 20px;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
#cardio-hero .cardio-hero-container .tools ul li a.mail {
    background: url("../images/icon_mail.png") no-repeat left;
}
#cardio-hero .cardio-hero-container .tools ul li a.print {
    background: url("../images/icon_print.png") no-repeat left;
}
#cardio-hero .cardio-hero-container .tools ul li:hover a {
    text-decoration: underline;
}
#cardio-hero .cardio-hero-container .right-content {
    position: relative;
    z-index: 10;
}
#cardio-hero .cardio-hero-container .right-content:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}
#main-wrapper .need-anything {
    background: #fff;
    padding: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
}
#main-wrapper .need-anything.blue-green {
    color: #fff;
    background: #29accc url("../images/logo_bg_flip.png") no-repeat -130px 5%;
}
#main-wrapper .need-anything.blue-green h4 {
    color: #fff;
}
#main-wrapper .need-anything.blue-green a {
    color: #fff;
}
#main-wrapper .need-anything.blue-green a.mail {
    background: url("../images/icon_w_mail.png") no-repeat left;
}
#main-wrapper .need-anything.blue-green a.phone {
    background: url("../images/icon_w_phone.png") no-repeat left;
}
#main-wrapper .need-anything h4 {
    margin-bottom: 5px;
}
#main-wrapper .need-anything p {
    margin: 5px 0px;
}
#main-wrapper .need-anything hr {
    margin: 15px 0px;
}
#main-wrapper .need-anything a {
    font-size: 14px;
    padding-left: 25px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    padding-right: 15px;
}
#main-wrapper .need-anything a.mail {
    background: url("../images/icon_v_mail.png") no-repeat left;
}
#main-wrapper .need-anything a.phone {
    background: url("../images/icon_v_phone.png") no-repeat left;
}
#main-wrapper .need-anything .people {
    border-radius: 100%;
    width: 147px;
    height: 148px;
    position: relative;
    overflow: hidden;
    margin: 0 auto 20px;
}
#read-more-content {
    background: #f9f9f9;
    display: none;
    padding-bottom: 35px;
}
#read-more-content.hypertension {
    display: block;
    padding-top: 50px;
}
#read-more-content .btn.close-x {
    border-radius: 0;
    font-weight: 500;
    margin-bottom: 35px;
    width: auto;
    display: inline-block;
    margin-left: -10px;
}
#read-more-content .source span {
    color: #949494;
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}
#read-more-content .right-wrapper {
    padding-left: 50px;
}
#read-more-content .right-wrapper .our-medicines {
    padding: 25px;
    background: #29accc url("../images/logo_bg_flip.png") no-repeat 350px -30px;
}
#read-more-content .right-wrapper .our-medicines h3 {
    margin-bottom: 30px;
    color: #fff;
    position: relative;
}
#read-more-content .right-wrapper .our-medicines h3:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #29accc;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 5px;
    left: -35px;
}
#read-more-content .right-wrapper .our-medicines ul {
    padding-left: 0;
}
#read-more-content .right-wrapper .our-medicines ul li {
    width: 45%;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    background: url("../images/list_arrow.png") no-repeat 0px 5px;
    padding-left: 20px;
    padding-bottom: 12px;
    vertical-align: top;
}
#read-more-content .right-wrapper .our-medicines ul li a {
    color: #fff;
    text-decoration: none;
}
#read-more-content .right-wrapper .our-medicines p {
    color: #fff;
    margin-top: 0px;
}
#read-more-content .right-wrapper .socities {
    padding: 25px;
    margin-top: 10px;
    background: #c6c2b9;
}
#read-more-content .right-wrapper .socities h3 {
    margin-bottom: 30px;
    color: #323232;
    position: relative;
}
#read-more-content .right-wrapper .socities h3:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #c6c2b9;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 5px;
    left: -35px;
}
#read-more-content .right-wrapper .socities ul {
    padding-left: 0;
}
#read-more-content .right-wrapper .socities ul li {
    display: block;
    color: #fff;
    font-weight: 500;
    background: url("../images/list_arrow_gray.png") no-repeat 0px 5px;
    padding-left: 20px;
    padding-bottom: 12px;
    vertical-align: top;
}
#read-more-content .right-wrapper .socities ul li a {
    color: #505050;
    text-decoration: none;
}
#cardio-condition-cover {
    margin-top: 45px;
}
#cardio-condition-cover h2,
#cardio-condition-cover .h2 {
    margin-bottom: 40px;
}
#cardio-condition-cover h3,
#cardio-condition-cover .h3 {
    margin-bottom: 20px;
}
#cardio-condition-cover h3 .fa,
#cardio-condition-cover .h3 .fa {
    color: #f0ab00;
    margin-right: 10px;
}
#cardio-condition-cover .btn.btn-gc {
    font-size: 16px;
    padding: 9px 20px;
    font-weight: 500;
    width: auto;
    display: inline-block;
}
#cardio-condition-cover .gc-content {
    vertical-align: top;
    margin-bottom: 40px;
    padding-right: 40px;
}
#cardio-condition-cover .gc-content .pwrapper {
    margin: 22px 0;
}
#cardio-condition-cover .gc-content.gc-padding-left {
    padding-right: 0px;
    padding-left: 40px;
}
.cardio-sample {
    margin-bottom: 60px;
}
.sub-nav {
    height: 59px;
    background: #e6e3e3;
}
.sub-nav .sub-nav-sticky {
    height: 59px;
    background: #e6e3e3;
    position: relative;
}
.sub-nav .sub-nav-sticky.fixed {
    position: fixed;
    left: 0;
    /*top: 108px;*/
    top: 158px;
    width: 100%;
    z-index: 1;
}
.sub-nav #sub-menu {
    text-transform: uppercase;
    float: left;
}
.sub-nav #sub-menu > ul {
    padding: 0;
    margin: 0 0 0 -10px;
}
.sub-nav #sub-menu > ul > li {
    float: left;
    height: 59px;
    position: relative;
    list-style: none;
}
.sub-nav #sub-menu > ul > li > a {
    display: inline-block;
    line-height: 19px;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 14px;
    /*color: #1b1b1b;*/
    color: #424646;
    font-weight: bold;
    -webkit-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}
.sub-nav #sub-menu > ul > li > a .glyphicon,
.sub-nav #sub-menu > ul > li > a .fa {
    color: #f0ab00;
    font-size: 0.9em;
    margin-right: 10px;
    position: relative;
    top: 0px;
    color: #000;
}
.sub-nav #sub-menu > ul > li:hover, .sub-nav #sub-menu > ul > li.active {
    /*background-color: #29accc;*/
    background: white;
}
.sub-nav #sub-menu > ul > li:hover > a, .sub-nav #sub-menu > ul > li.active > a {
    /*color: #fff;*/
}
.sub-nav #sub-menu > ul > li:hover > a .glyphicon,
.sub-nav #sub-menu > ul > li:hover > a .fa,
.sub-nav #sub-menu > ul > li.active > a .glyphicon,
.sub-nav #sub-menu > ul > li.active > a .fa {
    color: #fff;
}
.sub-nav #sub-menu > ul ul {
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: #343434;
    width: 100%;
    text-align: center;
    display: none;
}
.sub-nav #sub-menu > ul ul > li {
    list-style: none;
    border-top: 1px solid #272727;
}
.sub-nav #sub-menu > ul ul > li:first-child {
    border-top: 0;
}
.sub-nav #sub-menu > ul ul > li > a {
    display: block;
    font-size: 12px;
    line-height: 20px;
    padding: 14px 12px;
    text-decoration: none;
    color: #FFF;
}
.sub-nav #sub-menu > ul ul > li:hover > a {
    background-color: #272727;
}
.sub-nav #sub-menu > ul li:hover > ul {
    display: block;
}

#patient-resources, #order-sample {
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
}

#patient-resources .patient-resource h4, #patient-resources .patient-resource .h4, #order-sample .patient-resource h4, #order-sample .patient-resource .h4 {
    margin-bottom: 1px;
}

.modal #patient-resources h4 {
    font-size: 18px;
}

#patient-resources .patient-resource p,
#order-sample .patient-resource p {
    margin-top: 0;
}
#patient-resources .patient-resource hr,
#order-sample .patient-resource hr {
    margin: 30px 0px;
}
#patient-resources .patient-resource .photo,
#order-sample .patient-resource .photo {
    border: 1px solid #c6c6c6;
    width: 145px;
    height: auto;
}
#patient-resources .patient-resource .photo img,
#order-sample .patient-resource .photo img {
    display: block;
    width: 100%;
    height: auto;
}
#patient-resources .patient-resource .patient-top,
#order-sample .patient-resource .patient-top {
    padding-bottom: 15px;
}
#patient-resources .patient-resource .new-div:after,
#order-sample .patient-resource .new-div:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}
#guidelines {
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
    background: #fafafa;
}
#guidelines .guidelines-docu h4,
#guidelines .guidelines-docu .h4 {
    margin-bottom: 1px;
}
#guidelines .guidelines-docu p {
    margin-top: 0;
}
#guidelines .guidelines-docu hr {
    margin: 30px 0px;
}
#guidelines .guidelines-docu .photo {
    border: 1px solid #c6c6c6;
    width: 145px;
    height: auto;
}
#guidelines .guidelines-docu .guideline-top {
    padding-bottom: 15px;
}
#guidelines .guidelines-docu .new-div:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}
.btn.btn-download {
    /*font-weight: 500;*/
    /*font-size: 16px;*/
    /*white-space: normal;*/
}
.btn.btn-add {
    font-weight: 500;
    font-size: 16px;
    white-space: normal;
}
.btn.btn-add .fa {
    margin-left: 10px;
}
.btn.btn-download-product {
    /*font-weight: 500;*/
    /*font-size: 20px;*/
    /*padding: 16px 30px;*/
    line-height: 24px;
    white-space: normal;
}
.btn.btn-download-info {
    /*font-weight: 500;*/
    /*font-size: 20px;*/
    /*padding: 16px 30px;*/
    line-height: 24px;
    white-space: normal;
}

.btn.btn-download-info.btn-view-pbs {
    margin-bottom: 30px;
    /*margin-bottom: 0;*/
}

.mobile-accordion h6 {
    background: #e6e3e3 url("../images/arrow_accordion.png") no-repeat 95% 50%;
    padding: 20px 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #c6c4c4;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}
.mobile-accordion h6.open {
    background: #e6e3e3 url("../images/arrow_accordion_active.png") no-repeat 95% 50%;
}

/*** MEDICINE DETAILS ***/
.product-select-wrap {
    position: relative;
    padding-left: 80px;
}
.product-select-wrap label {
    position: absolute;
    top: 8px;
    left: 0px;
    font-weight: 500;
    font-size: 16px;
}
.medical-detail-wrap {
    position: relative;
}
.medical-detail-wrap .left-content h1 {
    margin-bottom: 25px;
}
.medical-detail-wrap .left-content h1 span {
    font-size: 26px;
    display: block;
}
.medical-detail-wrap .left-content .md-search {
    position: relative;
    /*border: 1px solid #bbbbbb;*/
    border: 0;
    /*border-radius: 3px;*/
    border-radius: 0;
    height: 55px;
    /*margin: 26px 0px;*/
    margin: 32px 0 8px;
}
.medical-detail-wrap .left-content .md-search .form-group {
    height: 53px;
    display: block;
    padding-right: 60px;
}

.medical-detail-wrap .left-content .md-search .form-group input, .medical-detail-wrap .left-content .md-search .form-group input:focus {
    height: 100%;
    font-size: 18px;
    color: #343434;
    border: none;
    border-radius: 0;
    color: #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.medical-detail-wrap .left-content .md-search .md-search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 53px;
    border-radius: 0;
    /*color: #fff;*/
    color: #424646;
    /*background-color: #29accc;*/
    /*border-color: #29accc;*/
    background: white;
    border: 0;
}
.medical-detail-wrap .left-content .md-search .md-search-btn:hover, .medical-detail-wrap .left-content .md-search .md-search-btn:focus {
    /*background-color: #1c6273;*/
    /*border-color: #1c6273;*/
}
.brilanta-logo {
    position: absolute;
    bottom: 40px;
    right: 15px;
}
.brilanta-logo img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}
#how-it-works {
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
    background: #fafafa;
    color: #737373;
}
#how-it-works h2 {
    margin-bottom: 30px;
}
#how-it-works ul {
    padding-left: 0;
}
#how-it-works ul li {
    list-style-type: none;
    padding-left: 18px;
    position: relative;
    padding-bottom: 12px;
    line-height: 26px;
    font-size: 16px;
}
#how-it-works ul li:before {
    content: "•";
    position: absolute;
    top: 0px;
    left: 0px;
    color: #6e164c;
}
#how-it-works .article .article-thumb {
    height: 299px;
}
#order-sample {
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
}
#tips {
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
    background: #fafafa;
}
#tips h2 {
    margin-bottom: 30px;
}
#tips #main-wrapper .need-anything {
    margin-top: 10px;
}
#tips ul {
    padding-left: 0;
}
#tips ul li {
    list-style-type: none;
    padding-left: 25px;
    position: relative;
    padding-bottom: 12px;
    line-height: 26px;
}
#tips ul li:before {
    content: "check";
    text-indent: -99999px;
    position: absolute;
    top: 7px;
    left: 0px;
    width: 14px;
    height: 12px;
    background: url("../images/icon_check.png") no-repeat left;
}
#product-info {
    display: block;
    padding-bottom: 35px;
    /*padding-top: 35px;*/
    padding-top: 46px;
}
#product-info h2 {
    /*margin-bottom: 30px;*/
}
#product-info .product-info-list {
    padding-right: 30px;
    border-right: 1px solid #cfcfcf;
}
#product-info ul {
    padding-left: 0;
}
#product-info ul li {
    list-style-type: none;
    padding-left: 25px;
    position: relative;
    padding-bottom: 12px;
    line-height: 26px;
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
#product-info ul li a {
    color: #505050;
    text-decoration: none;
}
#product-info ul li:before {
    content: "check";
    text-indent: -99999px;
    position: absolute;
    top: 7px;
    left: 0px;
    width: 14px;
    height: 12px;
    background: url("../images/arrow_y_icon_right.png") no-repeat left;
}

#cardio-hero-banner #cardio-hero .cardio-hero-container {
    position: relative;
}

.brilanta-logo {
    bottom: 50%;
    margin-bottom: -35px;
}

#cardio-hero .cardio-hero-container .left-content-wrap,#cardio-hero .cardio-hero-container .left-content-wrap:before {
    background-color: rgba(255, 255, 255, 0.7);
}

#doctor-resources {
    padding-top: 35px;
    padding-bottom: 35px;
}

#related-medicines, #related-medicines-old {
    /*padding: 25px;*/
    /*background: #29accc url("../images/logo_bg_flip.png") no-repeat 600px -30px;*/
    padding: 45px 50px;
    background: #f5f6f6;

}

#related-medicines {
    /*margin-right: 15px;*/
}

#related-medicines ul li, #related-medicines-old ul li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-weight: 500;
    /*background: url("../images/list_arrow.png") no-repeat 0px 5px;*/
    background: url("../images/list_arrow-orange.png") no-repeat 0px 5px;
    padding-left: 20px;
    padding-bottom: 12px;
    list-style-type: none;
    float: left;
    font-size: 16px;
    font-weight: 600;
}

#related-medicines ul li:before, #related-medicines-old ul li:before {
    display: none;
}

#related-medicines ul li a, #related-medicines-old ul li a {
    /*color: #fff;*/
    text-decoration: none;
    color: #424646;
}

#related-medicines h3, #related-medicines-old h3 {
    color: #424646;
    /*font-size: 26px;*/
    font-size: 30px;    
    line-height: 30px;
    font-weight: bold;
    margin-top: 0;
    /*margin-bottom: 10px;*/
    margin-bottom: 30px;
}

.a-top-wrap {
    font-size: 16px;
    color: #505050;
    margin: 60px 0 0px 0;
    text-align: right;
    opacity: 0;
    visibility: none;
}

.medicine-single input {
    font-family: 'Lato', sans-serif;
}

#cardio-hero .cardio-hero-container .left-content-wrap, #cardio-hero .cardio-hero-container .left-content-wrap:before {
    background: rgba(255, 255, 255, 0.7);
}

.medicine-single {
    opacity: 0;
}

.medicine-single.show {
    opacity: 1;
}

.medicine .welcome-account h1 {
    color: #fff;

}

/***
* SAMPLES *
***/

.sample-page .listings .custom-select-wrapper {
     background: #fff url('../images/resources/select-arrow.png') right center no-repeat;
}

.sample-page .select-wrap {
    /*border-radius: 4px;*/
    border-radius: 0;
}

.sample-page .listings .col-sm-2 img {
    width: 100%;
    height: auto;
}

#product-banner {
    padding: 30px 0;
}

#product-banner img {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: auto;
}


@media (min-width: 992px) {
    #patient-resources,
    #order-sample,
    #guidelines,
    #how-it-works,
    #tips,
    #product-info,
    #read-more-content.hypertension {
        display: block !important;
    }
    
    .related-medicines-mob {
        display: none !important;
    }
}

@media (max-width: 991px) {
    #patient-resources,
    #order-sample,
    #guidelines,
    #how-it-works,
    #tips,
    #product-info,
    #read-more-content.hypertension, 
    #doctor-resources, 
    #related-medicines-old {
        display: none;
    }
    
    #cardio-hero .cardio-hero-container .right-content #main-wrapper .need-anything .null-padding-left {
        padding-left: 15px;
    }
    
    #patient-resources,
    #order-sample {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    
    #patient-resources .patient-resource .photo,
    #order-sample .patient-resource .photo {
        margin: 0 auto;
    }
    
    #patient-resources .patient-resource .patient-bottom-tools .null-padding-right,
    #order-sample .patient-resource .patient-bottom-tools .null-padding-right {
        padding-right: 15px;
    }
    
    #patient-resources .patient-resource .new-div,
    #order-sample .patient-resource .new-div {
        display: block;
        float: none;
        clear: both;
    }
    
    #guidelines .guidelines-docu .photo {
        margin: 0 auto;
    }
    
    #guidelines .guidelines-docu .guideline-bottom-tools .null-padding-right {
        padding-right: 15px;
    }
    
    #guidelines .guidelines-docu .new-div {
        display: block;
        float: none;
        clear: both;
    }

    /***
    * SAMPLE PAGE *
    ***/

    .sample-page .listings #add-to-cart {
        display: block;
        position: relative;
        margin-left: 60px;
        text-indent: -9999px;
        text-align: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }


    .sample-page .listings #add-to-cart:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        top: 17px;
        left: 9px;
        width: 21px;
        height: 5px;
        background: #fff;
    }

    .sample-page .listings #add-to-cart:after {
        content: '';
        display: block;
        position: absolute;
        top: 9px;
        left: 17px;
        width: 5px;
        height: 21px;
        background: #fff;
    }

    #related-medicines-old {
        padding: 25px 0;
    }

    #related-medicines-old h3 {
        margin-bottom: 30px;
    }

    #related-medicines h3, #related-medicines-old h3 {
        font-size: 23px;
    }

}

@media (max-width: 991px) and (min-width: 768px) {

    .medicine-single > .region {
        padding-bottom: 120px;
    }

}

@media screen and (max-width: 767px) {

    .sample-page .listings #add-to-cart {
        display: block;
        position: relative;
        margin-left: 0px;
        text-indent: inherit;
        text-align: center;
        width: 100%;
        height: 38px;
        /*border-radius: 3px;*/
        border-radius: 0;
    }


    .sample-page .listings #add-to-cart:before,.sample-page .listings #add-to-cart:after {
        content: '';
        background: none;
    }

    .sample-page .resources-filter, .resources-page .resources-filter {
        padding: 30px 25px;
        width: 100%;
    }

    .resources-page.sample-page .view-order-btn {
        display: block;
    }

    #related-medicines {
        margin-right: 0;
    }

    .brilanta-logo {
        position: relative;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        right: 0;
        margin-bottom: 20px;
    }

    #cardio-hero .cardio-hero-container .left-content {
        height: auto !important;
        padding-top: 50px;
    }

}

@media screen and (max-width: 480px) {

    .resources-page.sample-page .view-order-btn {
        display: block;
        float: none !important;
        width: 100%;
        clear: both;
    }

    .resources-page.sample-page .view-order-btn a {
        margin-top: 20px;
        width: 100%;
    }
}

@media print (max-width: 767px) {
    
    #cardio-hero-banner img {
        top: 0 !important;
    }
    
    #cardio-hero {
        height: 100%;
    }
    
    #cardio-hero .cardio-hero-container .tools {
        display: none;
        float: none;
        clear: both;
    }
    
    #cardio-hero .cardio-hero-container .tools.white {
        color: #000;
    }
    
    #cardio-hero .cardio-hero-container .tools.white ul li a {
        color: #000;
    }
    
    #cardio-hero .cardio-hero-container .tools.white ul li a.mail {
        background: url("../images/icon_mail.png") no-repeat left;
    }
    
    #cardio-hero .cardio-hero-container .tools.white ul li a.print {
        background: url("../images/icon_print.png") no-repeat left;
    }
    
    #cardio-hero .cardio-hero-container .tools ul li {
        padding-left: 0;
    }
    
    #cardio-hero .cardio-hero-container .tools ul li:first-child {
        display: none;
    }
    
    #cardio-hero .cardio-hero-container .left-content-wrap {
        /*background-color: transparent;*/
    }
    
    #cardio-hero .cardio-hero-container .left-content {
        padding-top: 26px;
        padding-right: 0;
        min-height: 100px;
        height: auto !important;
        display: block;
    }
    
    #cardio-hero .cardio-hero-container .left-content:before {
        display: none;
    }
    
    #cardio-hero .cardio-hero-container .left-content .btn.btn-rm {
        display: block;
        width: 100%;
    }
    
    #cardio-hero .cardio-hero-container .left-content h1,
    #cardio-hero .cardio-hero-container .left-content .h1 {
        font-size: 36px;
    }
    
    #main-wrapper .need-anything-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    
    #main-wrapper .need-anything {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    
    #main-wrapper .need-anything a {
        padding: 0px 25px 0px 25px;
    }
    
    #main-wrapper .need-anything .people {
        margin: 0 auto 20px;
    }
    
    #main-wrapper .need-anything .description {
        text-align: center;
    }
    
    #main-wrapper .need-anything .null-padding-left {
        padding-left: 15px;
    }
    
    #read-more-content.hypertension {
        display: none;
    }
    
    #read-more-content .right-wrapper {
        margin-top: 27px;
        padding-left: 0;
    }
    
    #read-more-content .right-wrapper .our-medicines ul li {
        width: 100%;
    }
    
    #read-more-content .btn.close-x {
        width: 100%;
        display: inline-block;
        margin-left: 0;
    }
    
    #cardio-condition-cover h2,
    #cardio-condition-cover .h2 {
        text-align: center;
    }
    
    #cardio-condition-cover h3,
    #cardio-condition-cover .h3 {
        text-align: center;
    }
    
    #cardio-condition-cover h3 .fa,
    #cardio-condition-cover .h3 .fa {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    
    #cardio-condition-cover .gc-content {
        padding-right: 0;
    }
    
    #cardio-condition-cover .gc-content.gc-padding-left {
        padding-left: 0;
    }
    
    #cardio-condition-cover .btn.btn-gc {
        width: 100%;
        display: block;
    }
    
    #patient-resources,
    #order-sample {
        display: none;
    }
    
    #patient-resources .patient-resource .null-padding-right,
    #order-sample .patient-resource .null-padding-right {
        padding-right: 15px;
    }
    
    #patient-resources .patient-resource .photo,
    #order-sample .patient-resource .photo {
        margin: 0 0 15px;
    }
    
    #patient-resources .patient-resource hr,
    #order-sample .patient-resource hr {
        margin: 25px 0px;
    }
    
    #guidelines {
        display: none;
    }
    
    #guidelines .guidelines-docu h4,
    #guidelines .guidelines-docu .h4 {
        margin-bottom: 1px;
    }
    
    #guidelines .guidelines-docu p {
        margin-top: 0;
    }
    
    #guidelines .guidelines-docu hr {
        margin: 25px 0px;
    }
    
    #guidelines .guidelines-docu .photo {
        margin: 0 0 15px;
    }
    
    #guidelines .guidelines-docu .btn.btn-add {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    
    #guidelines .guidelines-docu .null-padding-right {
        padding-right: 15px;
    }
    
    #guidelines .guidelines-docu .new-div {
        padding-top: 15px;
    }
    
    .custom-select-wrapper {
        margin: 15px 0px;
    }
    
    .btn.btn-download {
        margin-bottom: 15px;
    }
    
    #how-it-works {
        display: none;
        padding-bottom: 0;
    }
    
    #order-sample {
        display: none;
    }
    
    #tips {
        display: none;
    }
    
    #product-info {
        display: none;
    }
    
    #product-info .product-info-list {
        border-right: none;
        border-bottom: 1px solid #dadada;
        padding-bottom: 30px;
        margin-bottom: 30px;
        padding-right: 0px;
    }
    
    #product-info ul li {
        width: 100%;
        display: block;
    }
    
    .brilanta-logo {
        position: relative;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: auto;
        background: #fff;
        margin-bottom: 0;
    }

}

@media print {
    
    .mobile-accordion {
        display: none !important;
    }
    
    .section {
        display: block !important;
    }
    
    #cardio-hero-banner img {
        opacity: 0 !important;
        filter: alpha(opacity=0) !important;
    }
    
    .new-div {
        display: none !important;
    }
    
    #cardio-hero .cardio-hero-container .left-content .btn.btn-rm,
    #read-more-content .btn.close-x {
        display: none !important;
    }
    
    #cardio-hero .cardio-hero-container .left-content {
        height: auto !important;
    }
    
    .medical-detail-wrap .left-content .md-search {
        display: none !important;
    }

}

#medicines .medicines-list ul { padding: 0px; }
#medicines .medicines-list ul li { background: #f8f8f8; margin-bottom: 10px; list-style-type: none; }
#medicines .medicines-list ul li:hover .medicines-img { background: #29accc; }
#medicines .medicines-list ul li .active-medicines-image { background: #29accc !important; }
#medicines .medicines-list ul li .medicines-img { width: 100%; height: 128px; display: table; background: #f0ab00; }
#medicines .medicines-list ul li .core-thumb { width: 100%; height: 100%; text-align: center; display: table-cell; vertical-align: middle; cursor: pointer; }
#medicines .medicines-list ul li .medicines-content { padding: 25px 0px; text-align: left; }
#medicines .medicines-list ul li .medicines-content a { text-decoration: none; font-weight: 500; }
#medicines .medicines-list ul li .medicines-content h3 { cursor: pointer; margin: 0px 0px 5px 0px; }
#medicines .medicines-list ul li .medicines-content p { margin: 0px; }
#medicines .medicines-list ul li .sub-medicines-list .a-text{background: #ffffff;}
#medicines .medicines-list ul li .sub-medicines-list .faq-answers{padding:15px 180px;}
#medicines .medicines-list ul li .faq-answers p { text-align: left; }
#medicines .medicines-list ul li .medicines-btn { min-height: 128px; height: 100%; border-left: 1px solid #e3e3e3; text-align: center; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; -ms-transition: all 0.3s; transition: all 0.3s; }
#medicines .medicines-list ul li .medicines-btn a { display: block; width: 100%; position: relative; }
#medicines .medicines-list ul li .medicines-btn .default, #medicines .medicines-list ul li .medicines-btn .active { position: absolute; top: 0; width: 100%; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; -ms-transition: all 0.3s; transition: all 0.3s; }
#medicines .medicines-list ul li .medicines-btn .default img, #medicines .medicines-list ul li .medicines-btn .default span, #medicines .medicines-list ul li .medicines-btn .active img, #medicines .medicines-list ul li .medicines-btn .active span { display: block; margin: 0 auto; }
#medicines .medicines-list ul li .medicines-btn .default span, #medicines .medicines-list ul li .medicines-btn .active span { margin-top: -28px; font-weight: bold; }
#medicines .medicines-list ul li .medicines-btn .default { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; }
#medicines .medicines-list ul li .medicines-btn .active { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }
#medicines .medicines-list ul li .medicines-btn .open-icon .default { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }
#medicines .medicines-list ul li .medicines-btn .open-icon .active { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; }
#medicines .medicines-list ul li .sub-medicines-list { display: none; background: #fff; }
#medicines .medicines-list ul li .sub-medicines-list .faq-answers ul li { list-style-type: disc; text-align: left; list-style-position: outside;}
#medicines .medicines-list ul li .sub-medicines-list ul li { background: #fff; margin-bottom: 0px; padding-bottom: 10px; }
#medicines .medicines-list ul li .sub-medicines-list ul li .medicines-content { padding-left: 30px; margin-left: -30px; margin-right: -15px; border-bottom: 1px solid #e3e3e3; }
#medicines .medicines-list ul li .sub-medicines-list ul li .medicines-content h3 { position: relative; font-size: 22px; }
#medicines .medicines-list ul li .sub-medicines-list ul li .medicines-content h3:before { content: ''; position: absolute; top: 11px; left: -20px; width: 12px; height: 8px; background: url("../images/arrow_icon.png") no-repeat left; transform: rotate(270deg); -ms-transform: rotate(270deg); /* IE 9 */ -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */ }
#medicines .medicines-list ul li .sub-medicines-list .back-to-top { font-size: 16px; color: #505050; margin: 10px 0 20px 0; text-align: center; }
#medicines .medicines-list ul li .sub-medicines-list .back-to-top a { font-weight: 500; color: #505050; text-decoration: none; }
#medicines .medicines-list ul li .sub-medicines-list .back-to-top a, #medicines .medicines-list ul li .sub-medicines-list .back-to-top img { display: inline-block; vertical-align: middle; margin: 0px 3px; }
#medicines .medicines-list ul li .medicines-btn img{

    -webkit-transition: transform .300s ease;
    -moz-transition: transform .300s ease;
    transition: transform .300s ease;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 52%;
    -moz-transform-origin: 50% 52%;
    transform-origin: 50% 52%;
}
#medicines .medicines-list ul li.active .medicines-btn img{
    -webkit-transition: transform .300s ease;
    -moz-transition: transform .300s ease;
    transition: transform .300s ease;

    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transform-origin: 50% 52%;
    -moz-transform-origin: 50% 52%;
    transform-origin: 50% 52%;
}
@media print, (max-width: 767px) { .hero-medicines { margin-top: -550px; }
  #medicines .medicines-list .top-medicine-level > * { height: auto !important; }
  #medicines .medicines-list .top-medicine-level > * .medicines-img { display: block; height: auto; }
  #medicines .medicines-list .top-medicine-level > * .core-thumb { display: block; height: auto; }
  #medicines .medicines-list ul li { padding: 0 20px; margin-bottom: 20px; }
  #medicines .medicines-list ul li .medicines-content { text-align: center; }
  #medicines .medicines-list ul li .sub-medicines-list .faq-answers { padding: 30px; }
  #medicines .medicines-list ul li .medicines-btn { height: auto; border-top: 1px solid #e3e3e3; border-left: 0px; }
  #medicines .medicines-list ul li .sub-medicines-list { margin-left: -15px; margin-right: -15px; }
  #medicines .medicines-list ul li .sub-medicines-list ul li { padding: 10px; }
  #medicines .medicines-list ul li .sub-medicines-list ul li .medicines-content { margin: 0px; padding: 10px 20px 20px 20px; text-align: left; }


    #patient-resources .patient-resource .photo, #order-sample .patient-resource .photo {
        margin: 0 0 15px;
    }

    #order-sample .patient-resource .btn {
        margin-top: 15px;
    }

}

/* print fixes */

@media print {

    body {
        padding: 30px 0 0 !important;
    }

    #site-wrapper {
        padding-top: 0 !important;
    }

    header, footer, #cardio-hero .cardio-hero-container .tools, .sub-nav, .recieve-news, .need-anything, #order-sample, #related-medicines-old, .pbs-buttons {
        display: none !important;
    }

    .col-xs-12, #related-medicines ul li, #related-medicines-old ul li, #product-info ul li {
        width: 100% !important;
    }

    #product-info .product-info-list {
        border-right: none;
        border-bottom: 1px solid #dadada;
        padding-bottom: 30px;
        margin-bottom: 30px;
        padding-right: 0px;
    }

    .btn.btn-primary {
        border: 1px solid #830051;
    }

    .btn.btn-secondary {
        border: 1px solid #f0ab00;        
    }
    
    .brilanta-logo {
        position: relative;
        right: 0px;
        /*bottom: 0px;*/
        width: 100%;
        height: auto;
        background: #fff;
        bottom: 50%;
        /*margin-bottom: -35px;*/
        margin-bottom: 0;
    }


}
