

#astrazeneca-profile-form-edit-stay-uptodate label[for="edit-tac"], #astrazeneca-profile-form-edit-stay-uptodate label[for="edit-agree"] {
    /*width: 97%;*/
    /*float: right;*/
}

#astrazeneca-profile-form-edit-stay-uptodate label[for="edit-tac"] {
    float: none;
    overflow: hidden;
    padding-left: 0 !important;
}

#astrazeneca-profile-form-edit-profile-photo label[for="profile"] {
    width: 100%;
}

.error {
    color: #8c2e0b !important;
}

.fadeOut-delay {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    animation-delay: 6s;
    -webkit-animation-delay: 6s;  
}

#general .stay-up-to-date input[type="checkbox"] {
	float: left;
	margin-right: 10px;
}

#general .photo-c-holder {
    margin: 20px auto;
}