

.register-wrap {
/*width: 1130px;*/
width: 1280px;
max-width: 100%;
/*padding: 0 20px;*/
padding: 0 15px;
margin: auto;
}

/* heading */

.register-header {
	padding-top: 35px;
	padding-bottom: 35px;
}

.register h1 {
	color: #343434;
	font-size: 46px;
	line-height: 46px;
	font-weight: bold;
	margin-bottom: 16px;
	text-shadow: none;
}

.register-header p {
	/*font-size: 18px;*/
	/*font-weight: 500;*/
	/*line-height: 26px;*/
}

/* steps */

.steps-wrap {
	/*margin-left: 10px;*/
	margin-bottom: 30px;
}

.steps-wrap > div {
	position: relative;
	z-index: 4;
	float: left;
	width: calc(25% - 12px);
	height: 80px;
	padding-left: 30px;
	padding-top: 12px;
	border: 1px solid #cbcbcb;
}

.steps-wrap > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	width: 21px;
	height: 78px;
	background-repeat: no-repeat;
	background-position: center right;
	background-image: url('../images/register/step.png');

}

.steps-wrap > div + div {
	z-index: 3;
	width: 25%;
	padding-left: 50px;
}

.steps-wrap > div + div + div {
	z-index: 2;
}

.steps-wrap > div:last-child {
	z-index: 1;
	width: calc(25% + 12px);
}

.steps-wrap > div:last-child:after {
	display: none;
}

.steps-wrap > div.current {
	background: #9db0ac;
}

.steps-wrap > div.current:after {
	background-image: url('../images/register/step-current.png');
}

.steps-wrap > div.completed {
	background: #6e164c;

}
.steps-wrap > div.completed:after {
	background-image: url('../images/register/step-completed.png');
}

.steps-wrap > div.two-lined {
	width: auto;
	padding-right: 40px;
}

.steps-wrap p {
	color: #505050;
	/*font-size: 17px;*/
	font-size: 18px;
	/*line-height: 21px;*/
	line-height: 26px;
	font-weight: 500;
}

.steps-wrap .completed p {
	color: white;
}

/* content */

.register-content-wrap {
	/*padding-right: 10px;*/
}

.register-content {
	background: #f9f9f9;
}

	/* note */

	.registration-note {
		padding: 30px 44px;
		background: #f3f2f2;			
	}

	form .registration-note {
		margin: 0 -44px;
	}

	.registration-note p {
		color: #737373;
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 0;
	}

	/* form */

	.register-form {
		font-size: 16px;
		color: #737373;
		padding: 30px 44px;
		margin-bottom: 132px;
	}

	.register-form.unpad {
		padding: 0;
	}

	.register-form p {
		color: #737373;
		line-height: 22px;
	    margin: 22px 0;
	}

	.password-note, .validate-note, .password-min-length {
		display: none;
	    font-size: 11px !important;
	    color: #830051;
	    font-style: italic;
	    margin: 20px 0 0 0;
	}

	.register-form ul li {
		margin-bottom: 25px;
	}

	.register-form ul li label {
		font-size: 16px;
	    font-weight: 600;
	    color: #505050;
	    margin-top: 8px;
	}

	#registration-container .registration-form form ul li.has-error label, .register-form ul li.has-error label {
		color: #830051;
	}

	.register-form ul li label span {
		color: #830051;
	}

	input {
		font-family: "lato", sans-serif;
	}

	.form-control:focus {
	    border-color: #f0ab00;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
	}

	.register-form .stay-up-to-date {
		padding: 35px 0;
	}

	.stay-up-to-date h3 {
		font-weight: bold;
		font-size: 26px;
		line-height: 30px;
		letter-spacing: 0.4px;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.register-form input[type="checkbox"] {
		-webkit-appearance: checkbox;
	}

	/*.btn.btn-secondary, .btn.btn-primary {
		background-color: #6e164c;
	    border-color: #6e164c;
	    color: #fff;
	}*/

	.register-form .btn-lg {
		font-size: 20px;
		line-height: 24px;
		padding: 14px 50px;
	}

	.register-form .name-note {
		font-size: 11px !important;
		color: #830051;
		font-style: italic;
		margin: 10px 0 0 0;
	}

	.custom-select-wrapper {
		display: block;
		position: relative;
		height: 39px;
		background: url("../images/register/select-arrow.png") no-repeat right center;
		border: 1px solid #cccccc;
		box-sizing: border-box;
		border-radius: 4px;
	}

	.custom-select-wrapper select {
		-webkit-appearance: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    opacity: 0;
	    z-index: 1;
	    cursor: pointer;
	}

	.custom-select-wrapper .custom-select-display {
		display: block;
		height: 37px;
		margin-right: 50px;
		color: #505050;
		overflow: hidden;
		padding: 0px 8px;
		line-height: 37px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	/* areas */

	.register h2 {
		margin-top: 17px;
	}

	.register hr {
		margin: 24px 0;
		border-top-color: #e7e8e8;
	}

	.area-wrap {
		position: relative;
	}

	.area-wrap > p, .area-wrap .legend p {
		color: #737373;
		font-size: 16px;
		line-height: 19px;
		margin: 0;
	}

	.area-wrap .legend {
		position: absolute;
		top: 0;
		right: 0;
	}

	.area-wrap .legend span {
		display: inline-block;
		margin-left: 50px;
	}

	.area-wrap .legend span:before {
		content: '';
		display: inline-block;
		vertical-align: -2px;
		width: 15px;
		height: 15px;
		margin-right: 3px;
		background: #f1ac00
	}

	.area-wrap .legend span.unselected:before {
		background: #e6e7e7;
	}

	.areas {
		margin: 50px 0 40px;
		background: #e6e7e7;
	}

	.areas .area {
		float: left;
		width: 20%;
		padding-top: 19px;
		background-color: transparent;
	}

	.areas .image-wrap {
		position: relative;
	}

	.areas .image-wrap img {
		display: block;
		width: 100%;
		height: auto;
	}

	.areas .image-wrap img + img {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}

	.areas p {
		font-size: 20px;
		line-height: 20px;
		color: #3f4444;
		font-weight: bold;
		padding-left: 18px;
		margin: 0;
		min-height: 40px;
	}

	.areas .image-wrap + p {
		position: relative;
		font-size: 13px;
		line-height: 35px;
		min-height: 0;
		padding-left: 32px;
	}

	.areas .image-wrap + p:before {
		content: '';
		position: absolute;
	}

	.areas .icon {
		position: absolute;
		top: 12px;
		left: 18px;
		width: 9px;
		height: 9px;
	}

	.areas .icon:before, .areas .icon:after {
		content: '';
		position: absolute;
		background: #3f4444;
	}

	.areas .icon:before {
		top: 0;
		left: 4px;
		width: 1px;
		height: 9px;
	}

	.areas .icon:after {
		top: 4px;
		left: 0;
		width: 9px;
		height: 1px;
	}

	.areas .remove {
		display: none;
	}

	.areas .area:hover {
		background-color: rgba(241, 172, 0, 0.5);
	}

	.areas .area.added {
		background-color: #f1ac00;
	}

	.areas .area.added p {
		color: white;
	}

	.areas .area.added .icon {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.areas .area.added .icon:before, .areas .area.added .icon:after {
		background-color: white;
	} 

	.areas .area.added .remove {
		display: inline-block;
	}

	.areas .area.added .add {
		display: none;
	}

	.areas .area.added .image-wrap img {
		opacity: 0;
	}

	.areas .area.added .image-wrap img + img {
		opacity: 1;
	}

	.register-form h3 {
		color: #505050;
		font-weight: bold;
	    margin-bottom: 0px;
	    line-height: 35px;
	}

	#registration-container .container-max {
		/*width: 1130px;*/
		width: 1280px;
		/*padding: 0 20px;*/
		padding: 0 15px;
		max-width: 100%;
	}
	.register-content-wrap .profile-label{
		padding-left: 50px;
	}
	.custom-file-upload > input[type="file"]{
		/*font-size: 13px;*/
		/*color: white;*/
		position: absolute;
		width: 0.01px;
		height: 0.01px;
		top: 0;
		left: 0;
	}

	.custom-file-upload > input[type="file"]:focus {
		outline: 0;
	}

	.custom-file-upload > p {
		color: #ffffff;
		margin: 0;
	}

	label.custom-file-upload {
		padding: 9px 50px;
		position: relative;
	}

	.photo-c-holder {
		width: 240px;
		height: 240px;
		margin: auto;
		overflow: hidden;
	}

	.photo-c-holder.round {
		border-radius: 50%;		
	}

	.photo-c-holder img {
		display: block;
		width: 100%;
		height: auto;
	}

	form .error-field {
		display: inline-block;
	}

	input.error-field, .has-error .form-control {
		border-color: #830051;
		color: #830051;
	}


/* fixes */

#contact-us-container #registration-container {
	padding-bottom: 0;
	margin-top: 30px;
}

@media only screen and (max-width: 1200px) {

	.areas p {
		font-size: 16px;
		line-height: 16px;
	}

}


@media only screen and (max-width: 1024px) {

	.steps-wrap p {
		font-size: 14px;
		line-height: 18px;
	}

	.steps-wrap > div {
		padding-top: 15px;
		padding-left: 20px;
	}

	.steps-wrap > div + div {
		padding-left: 40px;
	}

	.areas p {
		font-size: 14px;
		line-height: 14px;
		padding-left: 10px;
	}

	.areas .image-wrap + p {
		padding-left: 24px;
	}

	.areas .icon {
		left: 10px;
	}

}
@media only screen and (max-width: 991px){
	.register-content-wrap .profile-label{
		width: 100%;
		padding: 20px;
	}
}

@media only screen and (max-width: 767px) {

	.register-header p br {
		display: none;
	}
	.register-header > h1 {
		font-size: 30px !important;
	}

	.registration-note, .register-form {
		padding-left: 20px;
		padding-right: 20px;
	}

	.steps-wrap > div {
		display: none;
	}

	.steps-wrap > div.current {
		display: block;
		width: calc(100% - 21px);
	}

	.steps-wrap > div.current:last-child {
		width: 100%;
	}

	.areas .area {
		width: 50%;
	}

	.areas p {
		font-size: 16px;
		line-height: 16px;
		padding-left: 18px;
	}

	.areas p br {
		display: none;
	}

	.areas .image-wrap + p {
		padding-left: 32px;
	}

	.areas .icon {
		left: 18px;
	}

	.area-wrap > p, .area-wrap .legend {
		max-width: 50%;
	}

	.area-wrap .legend p {
		text-align: right;
	}

	.area-wrap .legend p span {
		text-align: left;
		width: 100px;
		margin-left: 0;
	}

	form .registration-note {
		margin: 0 -20px;
	}

	.photo-c-info, .photo-c-holder{
		text-align: center;
	}

	.register-form .btn {
		width: 100%;
	}

	#registration-container .registration-form form, #contact-us-container #registration-container .registration-form form {
		padding-left: 20px;
		padding-right: 20px;
	}

	#registration-container .registration-form .btn {
		width: 100%;
	}

}

@media only screen and (max-width: 380px) {

	.areas .area {
		width: 100%;
	}
}



.edit-mode .form-item-files-upload-file input#edit-upload-file {
	opacity: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.edit-mode .form-item-files-upload-file label {
	float: none !important;
    width: 100%;
    padding: 9px 50px;
    color: #fff;
    cursor: pointer;
}

.edit-mode .form-item-files-upload-file {
	font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 0px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    border: 0;
    background: #830051;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}


