.resources-page .resources-header{
	margin-bottom: 36px;
}
.resources-page .resources-header > h1{
	margin-bottom: 0;
	line-height: 35px;
}
.resources-filter label {
	margin-bottom: 0;
	line-height: 40px;
}

.resources-filter .select-wrap {
	display: inline-block;
	width: 332px;
	max-width: 100%;
	border: 1px solid #b8b6b6;
	overflow: hidden;
	vertical-align: top;
}

.resources-filter .select-wrap + .select-wrap {
	margin-left: 60px;
}

.resources-filter .select-wrap select {
	display: block;
	width: calc(100% + 30px);
	height: 38px;
	border: 0;
	border-radius: 0;
	padding-left: 9px;
	padding-right: 70px;
	background: url('../images/resources/select-arrow.png') right 30px center no-repeat white;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.resources-filter .select-wrap select::-ms-expand {
	display: none;
}

.select-type {
	margin-left: 0;
}

.btn.platinum {
	color: white;
	background: #9db0ac;	
}

.resources-page .lg, .resources-page .view-order-btn .btn {
	/*border-radius: 3px;*/
}

.resources-page-fade.pull-right {
	text-align:right;
}

.btn.platinum:hover {
	background: #b6ccc7;
}
.resources-page .view-order-btn .btn{
	width: 201px;
}
.resources-page .listings {
	margin-bottom: 30px;
}
.resources-page .resources-footer {
	padding-bottom: 110px;
}

.btn.marron:focus {
	color: white;
}
.resources-page .listings .row .resources-page-fade{
	opacity: 0;
	position: relative;
	top: 10px;

	-webkit-transition: opacity .300s ease, top .300s ease;
	-moz-transition: opacity .300s ease, top .300s ease;
	transition: opacity .300s ease, top .300s ease;
}
.resources-page .listings .row .resources-page-fade-content{

	-webkit-transition: opacity .300s ease, top .300s ease;
	-moz-transition: opacity .300s ease, top .300s ease;
	transition: opacity .300s ease, top .300s ease;

	opacity: 1;
	top: 0;
}

.reources-page.pull-right {
	text-align:right;
}

.order-item-mobile{
	display: none;
}
.order-item-desktop{
	left: 0;
}

/***
* ORDERS *
***/

#order-confirmation .deliver-address h4 {
	margin-left: 50px;
}
#order-confirmation .text-address-container{
	padding-left: 18px;
}
#order-confirmation .text-address-container input[type="text"] {
	padding: 0px 5px;
	margin: 2px;
}

#order-confirmation .last-radio {
	float: left;
}

.resources-page-content a {
	text-decoration: underline;
}

.resources-page .listings h5 {
	margin-top: 5px;
}

.resources-page .listings img {
	border: 1px solid #a8a8a8;
}

@media screen and (max-width: 1122px) {
	.resources-page .col-md-custom {
		margin-bottom:15px;
	}
}

@media only screen and (max-width: 1024px) {

	.resources-filter .select-wrap {
		width: 40%;
	}

	.resources-filter .select-wrap + .select-wrap {
		margin-left: 30px;
	}
}

@media only screen and (max-width: 992px) {
	.order-item-desktop{
		display: none;
	}
	.order-item-mobile{
		display: block;
	}

	.page-resources .resources-image-container,.resources-page .col-md-custom{
		width: 50%;
	}
}

@media only screen and (max-width: 767px) {

	.resources-page .listings .row > div {
		margin-bottom: 15px;
	}

	.resources-img img {
		width: auto;
		max-width: 100%
	}

	.resources-page .listings ul li {
		padding: 40px 10px;
	}

	.resources-header .view-order-btn {
		display: none;
	}

	.resources-filter .select-wrap {
		width: 100%;
		margin-bottom: 15px;
	}

	.resources-filter .select-wrap + .select-wrap {
		margin-left: 0;
	}
	.page-resources .listings a{
		display: block;
		width: 100%;
	}
	.resources-page .col-md-custom{
		width: 100%;
		clear: both;
	}
	.page-resources .resources-image-container{
		width: 100%;
	}

	.resources-page-fade.pull-right {
		float:none !important;
	}
}


