
/* s4d rebrand typography */

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #505050;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

	/* headings */

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Lexia', serif;
		font-weight: bold;
		line-height: 1em;
		color: #343434;
		margin-top: 0;
	}

	h1, .section-hero-img .welcome-account h1 {
		color: white;
		font-weight: normal;
		font-size: 40px;
		letter-spacing: 1px;
		margin-bottom: 0;
		text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
	}

	h1 span {
		display: block;
		font-size: 25px;
		font-weight: 300;
		line-height: 1em;
		letter-spacing: 0.5px;
		margin-top: 4px;
	}

	h1 span br {
		display: none;
	}

	.not-front h1 {
		font-size: 46px;
		color: #343434;
		font-weight: bold;
    	margin: 50px 0 30px;
    	text-shadow: none;
	}

	.not-front h1:first-child {
		margin-top: 0;
	}

	h2 {
		font-size: 30px;
	}

	h3 {

	}

	h4 {
		font-size: 20px;
		margin-bottom: 40px;
	}

	h5 {
		font-size: 18px;
		margin-bottom: 15px;
	}

	.section-hero-img .panel-dark .welcome-account h1 {
		color: #343434;
		text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.3);
	}

	@media only screen and (max-width: 767px) {


		h1, .not-front h1 {
			font-size: 29px;
		}

		h2 {
			font-size: 26px;
		}

		h1 span {
			font-size: 20px;
		}

	}

	/* paragraphs */

	p {
		line-height: 22px;
		margin: 20px 0;
	}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	strong { 
		font-weight: 700; 
	}

	p.sub-heading {
		font-size: 18px;
		font-weight: bold;
	}

	/* lists */

	ul ul, ul ol, ol ul, ol ol, ul { 
		margin: 0; 
	}

	ul.purple-ticks li {
		position: relative;
		list-style-type: none;
		padding-left: 25px;
		padding-bottom: 12px;
		line-height: 26px;
	}

	ul.purple-ticks li:before {
	    content: "check";
	    text-indent: -99999px;
	    position: absolute;
	    top: 7px;
	    left: 0px;
	    width: 14px;
	    height: 12px;
	    background: url("../images/icon_check.png") no-repeat left;
	}

	/* links */

	a {
		text-decoration: none;
		color: inherit;
		word-break: break-word;
	}

	a:hover, a:focus {
		text-decoration: none;
		color: #cc3366;
		outline: 0;
	}

	a:hover {
		cursor: pointer;
	}

	/* buttons */

	button:focus {
		outline: 0;
	}

	.btn {
		font-size: 16px;
		color: white;
		font-weight: 600;
		border-radius: 0px;
		text-align: center;
		text-decoration: none !important;
		border: 0;
		/*background: #6d194c;*/
		background: #830051;
		-webkit-transition: background 0.3s ease;
		-o-transition: background 0.3s ease;
		transition: background 0.3s ease;
	}

	.btn:hover {
		color: white;
		/*background: #820851;*/
		background-color: #9c0060;
    	border-color: #9c0060;
	}

	.btn.btn-lg {
		font-size: 19px;
		line-height: 24px;
		padding: 14px 50px;
	}

	.btn.gray {
		background: #999999;
	}

	.btn.gray:hover {
		background: #656969;
	}

	.btn.btn-gray {
		background: #a1aeab;
	}

	.btn.btn-gray:hover, .btn.btn-gray:focus {
		background: #656969;
	}

	.btn.lg {
		width: 100%;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.btn.mid {
		width: 48%;
		height: 38px;
	}

	.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
		outline: none;
		color: white;
	}

	.btn-primary:focus {
		background-color: #9c0060;
    	border-color: #9c0060;		
	}

	.btn:active, .btn.active {
		box-shadow: none;
	}

	@media only screen and (max-width: 1200px) {

		.btn.btn-lg {
			padding-left: 14px;
			padding-right: 14px;
		}

	}

	/* forms */

	select:focus {
		outline: none;
	}

	/* general classes */

	.white {
		color: white;
	}

	/* sections */

	.section-header {
	    margin-bottom: 16px;
	}

	.section-header h2 {
	    margin-bottom: 45px;
	}

	.section-header p {
	    margin: 0;
	}

	


